#API
cbt-api/vendor/*
cbt-api/.env
cbt-api/.env.local
cbt-api/.env.*.local
cbt-api/storage/*.key
cbt-api/storage/oauth-private.key
cbt-api/storage/oauth-public.key    

#IDE
.idea/
.vscode/

#FE
cbt-fe/node_modules/
cbt-fe/.env
cbt-fe/.env.local
cbt-fe/.env.*.local